{% render 'partials/head.liquid'%}
        <a href="/">Home</a>
    </nav>
</header>

<main>
    <h1>Your caught pokémon!</h1>
	<ul class="pokedex">
		{% if pokemon.size == 0 %}
			<p>No Pokémon found matching "{{ searchQuery }}"</p>
		{% else %}
			{% for item in pokemon %}
				<a class="pokecard" href="/pokemon/{{ item.id }}">
					<li>
						<img class="pokesprite" src="{{ item.image }}" alt="Illustration of a {{ item.name }}" width="100" height="100" loading="lazy">
						<form class="pokecatch" action="/{{ item.id }}/catch" method="post">
							<button type="submit" class="catch">
							<img class="pokeball" src="{{ pokeball.image }}" alt="Catch this pokemon" width="30" height="30">
							</button>
						</form>
						<p>{{ item.name | capitalize }}</p>
					</li>
				</a>
			{% endfor %}
		{% endif %}
	</ul>
</main>

{% render 'partials/foot.liquid' %}