{% render 'partials/head.liquid' %}
        <a href="/caught"><img src="{{ pokeball.image }}" alt="" width="50px" height="50px">Your Pokémon</a>
	</nav>

  <div class="break"></div>

  	<form method="GET" action="/">
    	<select name="region" onchange="this.form.submit()">
			<option value="">All Regions</option>
			<option value="kanto" {% if regionQuery == 'kanto' %}selected{% endif %}>Kanto (Gen 1)</option>
			<option value="johto" {% if regionQuery == 'johto' %}selected{% endif %}>Johto (Gen 2)</option>
			<option value="hoenn" {% if regionQuery == 'hoenn' %}selected{% endif %}>Hoenn (Gen 3)</option>
			<option value="sinnoh" {% if regionQuery == 'sinnoh' %}selected{% endif %}>Sinnoh (Gen 4)</option>
			<option value="unova" {% if regionQuery == 'unova' %}selected{% endif %}>Unova (Gen 5)</option>
			<option value="kalos" {% if regionQuery == 'kalos' %}selected{% endif %}>Kalos (Gen 6)</option>
			<option value="alola" {% if regionQuery == 'alola' %}selected{% endif %}>Alola (Gen 7)</option>
			<option value="galar" {% if regionQuery == 'galar' %}selected{% endif %}>Galar (Gen 8)</option>
			<option value="hisui" {% if regionQuery == 'hisui' %}selected{% endif %}>Hisui (Gen 8.5)</option>
			<option value="paldea" {% if regionQuery == 'paldea' %}selected{% endif %}>Paldea (Gen 9)</option>
      	</select>

    	<select name="type" onchange="this.form.submit()">
			<option value="">All Types</option>
			<option value="normal" {% if typeQuery == 'normal' %}selected{% endif %}>Normal</option>
			<option value="fire" {% if typeQuery == 'fire' %}selected{% endif %}>Fire</option>
			<option value="water" {% if typeQuery == 'water' %}selected{% endif %}>Water</option>
			<option value="grass" {% if typeQuery == 'grass' %}selected{% endif %}>Grass</option>
			<option value="electric" {% if typeQuery == 'electric' %}selected{% endif %}>Electric</option>
			<option value="ice" {% if typeQuery == 'ice' %}selected{% endif %}>Ice</option>
			<option value="fighting" {% if typeQuery == 'fighting' %}selected{% endif %}>Fighting</option>
			<option value="poison" {% if typeQuery == 'poison' %}selected{% endif %}>Poison</option>
			<option value="ground" {% if typeQuery == 'ground' %}selected{% endif %}>Ground</option>
			<option value="flying" {% if typeQuery == 'flying' %}selected{% endif %}>Flying</option>
			<option value="psychic" {% if typeQuery == 'psychic' %}selected{% endif %}>Psychic</option>
			<option value="bug" {% if typeQuery == 'bug' %}selected{% endif %}>Bug</option>
			<option value="rock" {% if typeQuery == 'rock' %}selected{% endif %}>Rock</option>
			<option value="ghost" {% if typeQuery == 'ghost' %}selected{% endif %}>Ghost</option>
			<option value="dragon" {% if typeQuery == 'dragon' %}selected{% endif %}>Dragon</option>
			<option value="dark" {% if typeQuery == 'dark' %}selected{% endif %}>Dark</option>
			<option value="steel" {% if typeQuery == 'steel' %}selected{% endif %}>Steel</option>
			<option value="fairy" {% if typeQuery == 'fairy' %}selected{% endif %}>Fairy</option>
		</select>

		<input 
			type="search" 
			placeholder="Search Pokémon" 
			name="search" 
			value="{{ searchQuery }}">
	</form>
</header>

<main>
	{% if regionQuery == '' and typeQuery == '' and searchQuery == '' %}
		<h1>All Pokémon</h1>
	{% elsif regionQuery != '' and typeQuery == '' and searchQuery == '' %}
		<h1>All Pokémon from {{ regionQuery | capitalize }} region</h1>
	{% elsif regionQuery == '' and typeQuery != '' and searchQuery == '' %}
		<h1>All {{ typeQuery | capitalize }} Pokémon</h1>
	{% elsif regionQuery != '' and typeQuery != '' and searchQuery == '' %}
		<h1>{{ typeQuery | capitalize }} Pokémon from {{ regionQuery | capitalize }} region
		</h1>
	{% elsif regionQuery == '' and typeQuery == '' and searchQuery != '' %}
		<h1>All Pokémon with "{{ searchQuery }}"</h1>
	{% elsif regionQuery != '' and typeQuery == '' and searchQuery != '' %}
		<h1>All Pokémon from {{ regionQuery | capitalize }} region with "{{ searchQuery }}"</h1>
	{% elsif regionQuery == '' and typeQuery != '' and searchQuery != '' %}
		<h1>All {{ typeQuery | capitalize }} Pokémon with "{{ searchQuery }}"</h1>
	{% elsif regionQuery != '' and typeQuery != '' and searchQuery != '' %}
		<h1>{{ typeQuery | capitalize }} Pokémon from {{ regionQuery | capitalize }} region with "{{ searchQuery }}"
		</h1>
	{% endif %}

	<ul class="pokedex">
		{% if pokemon.size == 0 %}
			<p>No Pokémon found matching "{{ searchQuery }}"</p>
		{% else %}
			{% for item in pokemon %}
				<a class="pokecard" href="/pokemon/{{ item.id }}">
					<li>
						<img class="pokesprite" src="{{ item.image }}" alt="Illustration of a {{ item.name }}" width="100" height="100" loading="lazy">
						<form class="pokecatch" action="/{{ item.id }}/catch" method="post">
							<button type="submit" class="catch">
							<img class="pokeball" src="{{ pokeball.image }}" alt="Catch this pokemon" width="30" height="30">
							</button>
						</form>
						<p>{{ item.name | capitalize }}</p>
					</li>
				</a>
			{% endfor %}
		{% endif %}
	</ul>
</main>

{% render 'partials/foot.liquid' %}

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const status = urlParams.get('status');

  if (status) {
    if (status === 'caught') {
      alert('Gotcha! Pokémon was caught successfully!');
    } else if (status === 'released') {
      alert('Bye-bye! Pokémon was released back into the wild.');
    } else if (status === 'error') {
      alert('Oops! Something went wrong.');
    }

    //Clean up the URL bar so refreshing the page doesn't show the alert again
    const cleanUrl = window.location.protocol + "//" + window.location.host + window.location.pathname;
    window.history.replaceState({ path: cleanUrl }, '', cleanUrl);
  }
</script>