{% render 'partials/head.liquid' %}
  <form method="GET" action="/">
    <select name="region" onchange="this.form.submit()">
        <option value="">All Regions</option>
        <option value="kanto" {% if regionQuery == 'kanto' %}selected{% endif %}>Kanto (Gen 1)</option>
        <option value="johto" {% if regionQuery == 'johto' %}selected{% endif %}>Johto (Gen 2)</option>
        <option value="hoenn" {% if regionQuery == 'hoenn' %}selected{% endif %}>Hoenn (Gen 3)</option>
        <option value="sinnoh" {% if regionQuery == 'sinnoh' %}selected{% endif %}>Sinnoh (Gen 4)</option>
        <option value="unova" {% if regionQuery == 'unova' %}selected{% endif %}>Unova (Gen 5)</option>
        <option value="kalos" {% if regionQuery == 'kalos' %}selected{% endif %}>Kalos (Gen 6)</option>
        <option value="alola" {% if regionQuery == 'alola' %}selected{% endif %}>Alola (Gen 7)</option>
        <option value="galar" {% if regionQuery == 'galar' %}selected{% endif %}>Galar (Gen 8)</option>
        <option value="hisui" {% if regionQuery == 'hisui' %}selected{% endif %}>Hisui (Gen 8.5)</option>
        <option value="paldea" {% if regionQuery == 'paldea' %}selected{% endif %}>Paldea (Gen 9)</option>
      </select>
      <input 
        type="search" 
        placeholder="Search Pokémon" 
        name="search" 
        value="{{ searchQuery }}">
  </form>
</header>
<main>
  <ul class="pokedex">
    {% for item in pokemon %}
      <li class="pokecard">
        <img class="pokesprite" src="{{ item.image }}" alt="{{ item.name }}" width="100" height="100" loading="lazy">
        <img class="pokeball" src="{{ pokeball.image }}" alt="{{ pokeball.name }}" width="30" height="30" loading="lazy">
        <a href="/pokemon/{{ item.id }}"><p>{{ item.name | capitalize }}</p></a>
      </li>
    {% endfor %}
  </ul>
</main>

{% render 'partials/foot.liquid' %}