{% render 'partials/head.liquid'%}
<a href="/">Back</a>
</header>

<main>       
    <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}">
    <h1>{{ pokemon.name | capitalize }}</h1>

    <p>Pokedex number {{ pokemon.id }}</p>

    <ul class="info">
        <li>Height: {{ pokemon.height }} m</li>
        <li>Weight: {{ pokemon.weight }} kg</li>
        <li>Color: {{ pokemon.color }}</li>
    </ul>

    <h2>Type(s):</h2>

    <ul class="types">
        {% for type in pokemon.types %}
            <li class="{{ type | downcase }}">{{ type }}</li>
        {% endfor %}
    </ul>
</main>

{% if pokemon.color == "red" %}
    <style>
        body {
            background-color: var(--pokemon-red);
        }
    </style>
{% elsif pokemon.color == "blue" %}
    <style>
        body {
            background-color: var(--pokemon-blue);
        }
    </style>
{% elsif pokemon.color == "yellow" %}
    <style>
        body {
            background-color: var(--pokemon-yellow);
        }
    </style>
{% elsif pokemon.color == "green" %}
    <style>
        body {
            background-color: var(--pokemon-green);
        }
    </style>
{% elsif pokemon.color == "black" %}
    <style>
        body {
            background-color: var(--pokemon-black);
        }
    </style>
{% elsif pokemon.color == "brown" %}
    <style>
        body {
            background-color: var(--pokemon-brown);
        }
    </style>
{% elsif pokemon.color == "purple" %}
    <style>
        body {
            background-color: var(--pokemon-purple);
        }
    </style>
{% elsif pokemon.color == "gray" %}
    <style>
        body {
            background-color: var(--pokemon-gray);
        }
    </style>
{% elsif pokemon.color == "white" %}
    <style>
        body {
            background-color: var(--pokemon-white);
        }
    </style>
{% elsif pokemon.color == "pink" %}
    <style>
        body {
            background-color: var(--pokemon-pink);
        }
    </style>
{% endif %}

{% render 'partials/foot.liquid' %}