{% render 'partials/head.liquid' %}

<a href="/">Pokedex</a>

<main>
        
        <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}">
        <h1>{{ pokemon.name | capitalize }}</h1>

        <p>Pokedex number {{ pokemon.id }}</p>

        <ul>
            <li>Height: {{ pokemon.height }} m</li>
            <li>Weight: {{ pokemon.weight }} kg</li>
        </ul>

        <h3>Type(s):</h3>
        <ul>
            {% for type in pokemon.types %}
                <li>{{ type }}</li>
            {% endfor %}
        </ul>
    </main>

{% render 'partials/foot.liquid' %}